@import "_variables.scss";
@import "_mixins.scss";

#navbar {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  transition: all linear 0.5s;
  padding : 0.5rem 0rem;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  background-color: transparent;

  .container {
    height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 7%;
      
  }
  
  }


  .logo a {
    text-decoration: none;
    h1 {
        letter-spacing: 0.4rem;
        font-size: 1rem;
        color: white;
    }
 }


  .menu {
    @include flex-space-between();
    display: none;

    &__items {
      @include flex-center();

      .menu__item {
        list-style: none;
        margin: 10px;

        a {
          text-decoration: none;
          color: $secondary-color;
          font-weight: bold;
          font-size: 15px;
        }
      }

    }
  }


  #hamber i {
    font-size: 25px;
    color: #fff;
  }

  #white-links li a  {
    color: white;
    }
    
    
    #nowhite-links li a {
    color: $primary-color;
    }
    
  
  #mobile-nav {
    display: none;
    height: 70vh;
    margin-top: 70px;

    .mobile-nav__items {
      @include flex-space-between();
      flex-direction: column;
      height: 100%;
  
      .mobile-nav__item {
        list-style: none;
        margin: 10px;
  
        a {
          text-decoration: none;
          color: $primary-color;
          font-weight: bold;
          font-size: 25px;
        }
      }
    }
  }

  
  // Media query 
  @include tablet-desktop { 

    .logo a h1 {
          font-size: 1.5rem;
   }
  }

  
    @include tablet {
      #navbar {
        height: 120px !important;
        .container { 
        flex-direction: column;
        padding-top: 20px;
        }
  
        .menu {
          display: flex;
  
        }
  
        #hamber {
          display: none;
        }
      }

    }
    
    // desktop
    
    @include desktop {
      #navbar {
        height: 100px;
        .container { 
        flex-direction: row;
        }
  
        .menu {
          display: flex;
        }
  
        #hamber {
          display: none;
        }

      }
      
    }
  
  
  .header {
  
    @include flex-center();
    justify-content: space-around;
    flex-direction: column-reverse;
    background-image: url(../Images/header-bg.svg);
    background-size: cover;
    background-position: center;
    padding: 80px 7%;
    height: 100vh;
  
    &__content {
      width: 90%;
      color: #fff;
      margin-top: 15px;
  
      h1 {
        font-size: 30px;
      }
  
      p {
        margin: 30px 0;
      }
  
      button {
        border: 2px solid $primary-color;
        color: $primary-color;
        background-color: #fff;
        padding: 15px 35px;
        font-size: 15px;
        margin-top: 25px;
  
        &:hover {
          border: 2px solid #fff;
          color: #fff;
          background-color: $primary-color;
        }
      }
  
    }
  
    &__img img {
      height: 180px;
  
    }
  }
  
  // Media query 
  
  @include tablet {
    .header {
      flex-direction: row;
      
      &__content {
        width: 50%;
    
        button {
          margin-top: 0;
        }
    
      }
    
      &__img img {
        height: 200px;
    
      }
    }
  
    }
    
  
  // desktop
  
  @include desktop {
    .header {
      flex-direction: row;
      
      &__content {
        width: 50%;
    
        h1 {
          font-size: 40px;
        }
    
        button {
          margin-top: 0;
        }
    
      }
    
      &__img img {
        height: 250px;
    
      }
    }
    
    
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @include large-devices {
    .header {
      flex-direction: row;
      
      &__content {
        width: 40%;
    
        h1 {
          font-size: 45px;
        }
  
        button {
          margin-top: 0;
        }
    
      }
    
      &__img img {
        height: 300px;
    
      }
    }
  }