@import "_variables.scss";
@import "_mixins.scss";


.newsletter {
    @include flex-center();
  
    &__container {
     @include flex-center();
     flex-direction: column;
    
  
    .section-head {
      width: 100%;
      margin-bottom: 50px;

      h3 {
        font-size: 20px;
      }
    }
  
    .newsletter__box {
      height: 90%;
      background-color: $secondary-color;
      padding: 50px;
      border-radius: 5px;
  
      form {
        @include flex-space-between();
        flex-direction: column;
        height: 40%;
    
        label:first-child {
          background-color: #fff;
          padding: 0 20px;
          width: 100%;
          text-align: start;
          @include flex-center();
          color: #555;
          font-size: 15px;
          border-radius: 5px;
          height: 50px;
          border: 0.1px solid rgb(199, 199, 199);
        }
    
        label:nth-child(2) {
          font-size: 12px;
          margin-top: 15px;
        }
    
        input[type=email] {
          border: none;
          width: 100%;
          outline: none;
          margin-left: 20px;
        }
    
        button {
          width: 55%;
          padding: 18px 0px;
          margin-top: 20px;
        }
      }
    }
    
    .socials {
      @include flex-center();
      width: 80%;
      margin-top: 40px;
  
      i {
        background-color: $primary-color;
        color: #fff;
        font-size: 20px;
        margin: 2%;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        @include flex-center();
        cursor: pointer;

        &:hover {
          background-color: #fff;
        color: $primary-color;
        transition: all 250ms ease-in;
        }
      }
    }
  }
  }