@import "_variables.scss";
@import "_mixins.scss";

  .swiper-container {
    @include flex-center();
    height: 150px;
    width: 80%;
    .swiper-wrapper {
    
  
    .swiper-slide {
      height: 50px;
      width: 170px;
      @include flex-center();
    }
    }
    .swiper-pagination-bullet-active {
      background-color: #5F4DEE !important;
  }
  }