@import "_variables.scss";
@import "_mixins.scss";

.pricing {
    @include flex-center();
    flex-direction: column;
    height: 100%;
  
    &__container {
      width: 100%;
  
      .section-head {
        width: 100%;
      }
      
    }
  }

  .pricing__options {
    @include flex-center ();
    flex-direction: column;
    width: 100%;

    &__item {
      width: 90%;
      text-align: center;
      border: 0.05px solid gray;
      padding: 20px;
      border-radius: 10px;
      margin-top: 40px;

      h3 {
        font-size: 45px;
        margin: 10px 0;
      }

      .lign {
        border-bottom: 0.05px solid #555;
        width: 60%;
        margin: 20px auto;
      }

      .options__list {
        &__item {
          list-style: none;
          text-align: left;
          margin: 15px;
  
          i {
            margin-right: 10px;
          }
  
          .fa-check {
            color: $primary-color;
          }
        }
      } 
    }

    .btn {
      padding: 15px 25px;
      font-size: 15px;
      margin-top: 15px;
    }
  }

  @include tablet-desktop {
    .pricing__options {
  
      &__item {
        width: 65%;
      }
  }
}


  @include large-devices  {
    .pricing__options {
      @include flex-space-between ();
      flex-direction: row;
  
      &__item {
        width: 30%;
      }
  }
}