@import "_variables.scss";
@import "_mixins.scss";


#services {
    height: 100%;
    .services-container {
      @include flex-center();
      flex-direction: column;
      width: 100%;
  
    }
  
  }
  
  .services-box {
    @include flex-space-between();
    flex-direction: column;
     margin-top: 60px;
     width: 100%;
  
     .service-item {
       width: 80%;
       text-align: center;
       margin-top: 40px;
  
  
       .ser-img img {
         height: 200px;
         margin-bottom: 20px;
       }
  
       .ser-description {
         
         h4 {
           margin-bottom: 10px;
           font-size: 25px;
         }
       }
     }
   }
  
  @include tablet-desktop () {
    
    #services  {
  
      .services-box {
        flex-direction: row;
        flex-wrap: wrap;
  
        .service-item {
          width: 45%;
        }
      }
      
    }
    
  }
  
  @include large-devices () {
  
    #services  {
  
      .services-box {
        flex-direction: row;
  
        .service-item {
          width: 20%;
        }
      }
      
    }
    
  }