@import "_variables.scss";
@import "_mixins.scss";

.testimonials {
    height: 300px;

    &__container {
      @include flex-center();
  
      i {
        font-size: 45px;
        color: $primary-color;
      }
  
      .testimonials__item {
        @include flex-center();
        margin: 0 5%;
  
        &__img img {
          height: 200px;
          border-radius: 50%;
        }
  
        &__qoutes{
          margin-left: 5%;
  
          p {
            color: #555;
            font-style: italic;
            margin-bottom: 20px;
          }
        }
      }
    }
  
  }
  