@import "_variables.scss";
@import "_mixins.scss";

.vedio {
    @include flex-center();
    flex-direction: column;
    background-color: $secondary-color;
  
    &__cotainer {
      @include flex-center();
      position: relative;

      img {
        height: 200px;
        border-radius: 15px;
      }
  
      i {
        position: absolute;
        font-size: 45px;
        color: $primary-color;
        border-radius: 50%;
        background-color: #fff;
      }
   
     }
     
    p {
      color: $Body-text-color;
      width: 60%;
      margin-top: 25px;
      text-align: center;
    }
  
  }

  @include tablet {

    .vedio__cotainer {

      img {
        height: 300px;
      }

      i {
        font-size: 55px;
      }
    }
  }


  @include desktop {

    .vedio__cotainer {

      img {
        height: 400px;
      }

      i {
        font-size: 65px;
      }
    }
  }


  @include large-devices{

    .vedio__cotainer {

      img {
        height: 500px;

      }

      i {
        font-size: 70px;
      }
    }
  }