@import "_variables.scss";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 5px 18px;
  border: 2px solid #fff;
  border-radius: 25px;
  color: #fff;
  background-color: $primary-color;
  font-weight: bold;
  outline: none;
  font-size: 14px;
}

button:hover {
  border: 2px solid $primary-color;
  color: $primary-color;
  background-color: #fff;
}

.section-head {
  text-align: center;
  width: 60%;
  h2 {
    color: $primary-color;
  }
  h3 {
    font-size: 35px;
  }

}

/*****************************************
Table Of Contents:
01. Header
02. Navigation
03. Main
- Customers
- Description
- Features
- Features Lightboxes
- Details
- Video
- Pricing
- Testimonials
- Newsletter
04. Footer
  - Copyright
  - Back To Top Button
19. Media Queries
******************************************/


/*****************************************
Colors:
- Backgrounds, buttons, bullets, icons - blue #5f4dee
- Backgrounds, light button, light body text - light gray #f3f7fd
- Headings text - black #333
- Body text - dark gray #555
******************************************/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, 
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans';
}

/*------ header -------*/

nav {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;

  .menu {
    @include flex-center();
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      @include flex-center();
      li {
        list-style: none;
        margin: 10px;
        a {
          text-decoration: none;
          color: $secondary-color;
          font-weight: bold;
          font-size: 15px;
        }
      }

    }
  }
  .hamber {
    display: none;
  }
}

#mobile-nav {
  display: none;
}



header {
  height: 100vh;
  background-image: url(../Images/header-bg.svg);
  background-size: cover;
  background-position: center;
  @include flex-center();
  justify-content: space-between;
  padding: 100px 7%;
  .header-content {
    width: 40%;
    color: #fff;
    h1 {
      font-size: 55px;
    }
    p {
      margin: 30px 0;
    }
    button {
      border: 2px solid $primary-color;
      color: $primary-color;
      background-color: #fff;
      padding: 15px 35px;
      font-size: 15px;
      &:hover {
        border: 2px solid #fff;
        color: #fff;
        background-color: $primary-color;
      }
    }

  }

  .header-img img {
    height: 350px;

  }
}



/*------ main -------*/
main {
 

}

#partners {
  height: 150px;
  padding: 0 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#services {
  height: 100vh;
  padding: 50px 7%;

  .services-container {
    @include flex-center();
    flex-direction: column;
    width: 100%;

    .services-box {
      @include flex-center();
      justify-content: space-between;
      margin-top: 60px;

      .service-item {
        width: 25%;
        text-align: center;
        .ser-img img {
          height: 200px;
          margin-bottom: 20px;
        }

        .ser-description {
          
          h4 {
            margin-bottom: 10px;
            font-size: 25px;
          }
        }
      }
    }

  }

}


#features {
  height: 100vh;

}

#take-action {
  height: 100vh;

}

#vedio {
  height: 100vh;

}

#pricing {
  height: 100vh;

}

#testimonials {
  height: 100vh;

}

#newsletter {
  height: 100vh;

}

/*------ footer -------*/
footer {


}



/*------ Media Queries -------*/