@import "_variables.scss";

/*****************************************
Table Of Contents:
01. Header
02. Navigation
03. Main
- Customers
- Description
- Features
- Features Lightboxes
- Details
- Video
- Pricing
- Testimonials
- Newsletter
04. Footer
  - Copyright
  - Back To Top Button
19. Media Queries
******************************************/


/*****************************************
Colors:
- Backgrounds, buttons, bullets, icons - blue #5f4dee
- Backgrounds, light button, light body text - light gray #f3f7fd
- Headings text - black #333
- Body text - dark gray #555
******************************************/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, 
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans';
}

/*------ header -------*/
header {
  height: 100vh;
}



/*------ main -------*/
main {

}

#partners {

}

#services {
  height: 100vh;

}


#features {
  height: 100vh;

}

#take-action {
  height: 100vh;

}

#vedio {
  height: 100vh;

}

#pricing {
  height: 100vh;

}

#testimonials {
  height: 100vh;

}

#newsletter {
  height: 100vh;

}

/*------ footer -------*/
footer {


}



/*------ Media Queries -------*/