@import "_variables.scss";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


section {
  height: 100vh;
  padding: 50px 7%;
}

button {
  padding: 5px 18px;
  border: 2px solid #fff;
  border-radius: 25px;
  color: #fff;
  background-color: $primary-color;
  font-weight: bold;
  outline: none;
  font-size: 14px;
}

button:hover {
  border: 2px solid $primary-color;
  color: $primary-color;
  background-color: #fff;
}

.section-head {
  text-align: center;
  width: 60%;
  text-align: center;
  h2 {
    color: $primary-color;
  }
  h3 {
    font-size: 35px;
  }

}

/*****************************************
Table Of Contents:
01. Header
02. Navigation
03. Main
- Customers
- Description
- Features
- Features Lightboxes
- Details
- Video
- Pricing
- Testimonials
- Newsletter
04. Footer
  - Copyright
  - Back To Top Button
19. Media Queries
******************************************/


/*****************************************
Colors:
- Backgrounds, buttons, bullets, icons - blue #5f4dee
- Backgrounds, light button, light body text - light gray #f3f7fd
- Headings text - black #333
- Body text - dark gray #555
******************************************/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, 
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans';
    scroll-behavior: smooth;
}

/*------ header -------*/

nav {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;

  .menu {
    @include flex-center();
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      @include flex-center();
      li {
        list-style: none;
        margin: 10px;
        a {
          text-decoration: none;
          color: $secondary-color;
          font-weight: bold;
          font-size: 15px;
        }
      }

    }
  }
  .hamber {
    display: none;
  }
}

#mobile-nav {
  display: none;
}



header {
  height: 100vh;
  background-image: url(../Images/header-bg.svg);
  background-size: cover;
  background-position: center;
  @include flex-center();
  justify-content: space-between;
  padding: 100px 7%;
  .header-content {
    width: 40%;
    color: #fff;
    h1 {
      font-size: 55px;
    }
    p {
      margin: 30px 0;
    }
    button {
      border: 2px solid $primary-color;
      color: $primary-color;
      background-color: #fff;
      padding: 15px 35px;
      font-size: 15px;
      &:hover {
        border: 2px solid #fff;
        color: #fff;
        background-color: $primary-color;
      }
    }

  }

  .header-img img {
    height: 350px;

  }
}



/*------ main -------*/
main {
 

}

#partners {
  height: 150px;
  padding: 0 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#services {

  .services-container {
    @include flex-center();
    flex-direction: column;
    width: 100%;

    .services-box {
      @include flex-center();
      justify-content: space-between;
      margin-top: 60px;

      .service-item {
        width: 25%;
        text-align: center;
        .ser-img img {
          height: 200px;
          margin-bottom: 20px;
        }

        .ser-description {
          
          h4 {
            margin-bottom: 10px;
            font-size: 25px;
          }
        }
      }
    }

  }

}


#features {
  background-color: $secondary-color;

  .features-container {
    @include flex-center();
    flex-direction: column;
    width: 100%;

    .features-head p {
      margin-top: 15px;
    }

    .features-menu {
     width: 60%;
     margin-top: 40px;
      ul {
      @include flex-center();

      li {
        list-style: none;
        margin: 3%;
        width: 30%;

        a {
          text-decoration: none;
          font-size: 20px;
          color: $Body-text-color;
          font-weight: bold;
          i {
            display: inline;
            margin-right: 15px;
        }

        }
      }
    }
  }

  .features-details{
    @include flex-center();
    justify-content: space-around;
    margin-top: 15px;

    .features-details-img {
      width: 45%;
    }

    .features-details-content {
      width: 50%;
      h3 {
        font-size: 25px;
      }

      p {
        margin: 15px 0;
        color: $Body-text-color;
      }

      ul li {
       list-style: none;
       margin: 10px;
       color: $Body-text-color;

       i {
         font-size: 10px;
         color: $primary-color;
         margin-right: 10px;
       }
      }

      button {
        padding: 15px 25px;
        margin-top: 20px;
        font-size: 15px;
      }
    }

  }
}
}

#take-action {
  @include flex-center();

  .take-action-container {
    @include flex-center();
    justify-content: space-around;

    .take-action-img {
      width: 45%;
      img {
        height: 350px;
      }
    }

    .features-details-content {
      width: 45%;
      h3 {
        font-size: 35px;
      }

      p {
        margin: 20px 0;
        color: $Body-text-color;
      }

      ul li {
       list-style: none;
       margin: 10px;
       color: $Body-text-color;

       i {
         font-size: 10px;
         color: $primary-color;
         margin-right: 10px;
       }
      }

      button {
        padding: 15px 25px;
        margin-top: 20px;
        font-size: 15px;
      }
    }
  }

}

#vedio {
  background-color: $secondary-color;
  @include flex-center();
  flex-direction: column;

  .vedio-cotainer {
    @include flex-center();
    position: relative;
    img {
      height: 500px;
      border-radius: 15px;
    }

    i {
      position: absolute;
      font-size: 70px;
      color: $primary-color;
      border-radius: 50%;
      background-color: #fff;
    }
 
   }
  p {
    color: $Body-text-color;
    width: 60%;
    margin-top: 25px;
    text-align: center;
  }

}

#pricing {
  @include flex-center();
  flex-direction: column;

  .pricing-container {
    width: 100%;

    .section-head {
      width: 100%;
    }

  .pricing-options {
    @include flex-center();
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;

    .pricing-option {
      width: 30%;
      text-align: center;
      border: 0.05px solid gray;
      padding: 20px;
      border-radius: 10px;

      h3 {
        font-size: 45px;
        margin: 10px 0;
      }

      .lign {
        border-bottom: 0.05px solid #555;
        width: 60%;
        margin: 20px auto;
      }

      ul li {
        list-style: none;
        text-align: left;
        margin: 15px;

        i {
          margin-right: 10px;
        }

        .fa-check {
          color: $primary-color;
        }
      }
    }

    button {
      padding: 15px 25px;
      font-size: 15px;
      margin-top: 15px;
    }
  }
  }
}

#testimonials {
  height: 300px;
  .testimonials-container {
    @include flex-center();

    i {
      font-size: 45px;
      color: $primary-color;
    }

    .testimonial {
      @include flex-center();
      margin: 0 5%;

      .peopls img {
        height: 200px;
        border-radius: 50%;
      }

      .qoutes{
        margin-left: 5%;

        p {
          color: #555;
          font-style: italic;
          margin-bottom: 20px;
        }
      }
    }
  }

}

#newsletter {
  height: 100vh;

}

/*------ footer -------*/
footer {


}



/*------ Media Queries -------*/